body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}
p {
    color: blue;
}
.center-container {
    display: flex;
    width: 100%;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.div-center {
    display: flex;
    margin: auto;
}

img {
    position: relative;
    z-index: 2;
}

span {
    position: fixed;
    z-index: 1;
    pointer-events: none;
    color: gray;
    font-weight: bold;
}